#root h3 {
  color: #00D49A;
}
#root .Select-div {
  font-size: 10px;
  width: 20%;
  display: inline;
  float: left;
}

#as h3 {
  color: #00D49A;
}
#as .Select-div {
  font-size: 10px;
  width: 20%;
  display: inline;
  float: left;
}

.Select-input, .Select-control {
  height: 20px;
}
.Select-value {
  line-height: 20px !important;
}

.graph-div {
  margin-bottom: 40px;
}
