#countryPerformance h1, #ASPerformance h1 {
  color: #1eb9b4;
}

#countryPerformance h3, #ASPerformance h3, #riskPerformance h3 {
  color: #00D49A;
}

.graph-div .Select-div {
  font-size: 10px;
  width: 20%;
  display: inline;
  float: left;
}

.graph-div .radio-form {
  font-size: 10px;
  display: inline;
  float: left;
  margin-bottom: 10px;
  margin-top: 5px;
  margin-left: 5px;
}

.graph-div .Select-input, .Select-control {
  height: 20px !important;
}

.graph-div .Select-value {
  line-height: 20px !important;
}

.Select-input input {
  padding-top: 3px;
  padding-bottom: 3px;
}

.graph-div {
  margin-bottom: 40px;
}

#countryPerformance .panel {
  width: 49%;
  margin: 0.5%;
}

.spinner {
  position: absolute;
  bottom: calc(50vh - 50px);
  left: calc(50vw - 50px);
  z-index: 10;
}

.graph-rank {
  color: red !important;
}
